**1.Create a Pandas Series from a list and perform the following tasks:
Print the entire series.**

* Print the first 3 elements of the series.
* Print the last 2 elements of the series.

In [2]:
import pandas as pd
l=[1,2,3,4,5,6,7,8]
s=pd.Series(l)
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [7]:
# first 3 elements of the series
print(s[0:3])

0    1
1    2
2    3
dtype: int64

In [6]:
#Last 2 elements of the series
print(s[-2:])

6    7
7    8
dtype: int64

**2.Create two Pandas Series with different data types (numeric and string) and perform the following tasks:**

* Concatenate the two series into a single series.

* Calculate the mean of the numeric series.

In [12]:
import pandas as pd
a=pd.Series([1,2,3,4,5])
b=pd.Series(["a","b","c","d","e"])
print(a)
print(b)
#Concatenate two series into single series
c=pd.concat([a,b],ignore_index=True)
print(c)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object
0    1
1    2
2    3
3    4
4    5
5    a
6    b
7    c
8    d
9    e
dtype: object

In [13]:
#Mean of numerical series
Mean=a.mean()
print(Mean)

3.0

**3.create a Pandas Series with data from a dictionary and perform the following tasks:**

* Print the series.

* Check if a specific index exists in the series.

* Add a new element to the series with a new index.

In [14]:
import pandas as pd
dict={"a":1,"b":2,"c":3,"d":4}
s=pd.Series(dict)
print(s)

a    1
b    2
c    3
d    4
dtype: int64

In [24]:
#Check if a specific index exists in the series
print("a" in s)

True

In [28]:
#Add a new element to the series with a new index
s["e"]=5
print(s)
s["a"]=10
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    10
b     2
c     3
d     4
e     5
dtype: int64