**1.Write a function to get the maximum of 3 numbers.**

In [5]:
def max(a,b,c):
  if a>b and a>c:
    return a
  elif b>a and b>c:
    return b
  else:
    return c
res=max(100,500,300)
print(res)

500

**2.Write a function to check if the given number if even or not**
          
           Example:
           is_even(10) , then o/p: even
           is_even(23), then o/p: odd

In [6]:
def is_even(n):
  if n%2==0:
    return 'even'
  else:
    return 'odd'
res1=is_even(10)
res2=is_even(23)
print(res1)
print(res2)

even
odd

**3.Write a program to get the sum of all the values in given list,**

 Example:

       my_sum([1,2,3,4,5]), then o/p: 15

       my_sum([10,11,12]), then o/p: 33

In [9]:
# sol-1:Using for loop:

def myfunc(l):
  sum=0
  for i in l:
    sum=sum+i
  return sum
res1=myfunc([1,2,3,4,5])
res2=myfunc([10,11,12])
print(res1)
print(res2)

15
33

In [13]:
#sol-2:Using while loop

def myfunc(l):
  sum=0
  i=0
  while i<len(l):
    sum=sum+l[i]
    i=i+1
  return sum
lst1=myfunc([1,2,3,4,5])
lst2=myfunc([10,11,12])
print(lst1)
print(lst2)

15
33

In [14]:
#sol-3:Using conditional stmts:

def myfunc(l):
  if type(l)==list:
    sum=0
    for i in l:
      sum=sum+i
    return sum
  else:
    return 'invalid input'
lst1=myfunc([1,2,3,4,5])
lst2=myfunc([10,11,12])
print(lst1)
print(lst2)

15
33

**4.Construct your own function my_range() which acts as range() to print numbers in forward direction (step is positive) and backward direction(step is negative) with given start,stop and step as parameters.**

eg:

my_range(1,10,1), then o/p= 1,2,3,4,5,6,7,8,9

my_range(1,10,2), then o/p= 1,3,5,7,9

my_range(10,1,-1), then o/p = 10,9,8,7,6,5,4,3,2

my_range(10,1,-2), then o/p = 10,8,6,4,2

In [60]:
def my_range(start,stop,step):
  if step==0:
    pass
  elif step>0:
    for i in range(start,stop,step):
      print(i,end=',')
  elif step<0:
    for i in range(start,stop,step):
      print(i,end=',')
  else:
    pass
my_range(1,10,1)
print()
my_range(1,10,2)
print()
my_range(10,1,-1)
print()
my_range(10,1,-2)

1,2,3,4,5,6,7,8,9,
1,3,5,7,9,
10,9,8,7,6,5,4,3,2,
10,8,6,4,2,

**5.Multiply numbers with given start and stop (using loops)**

           Example: start=1, stop= 5, then o/p: 120
                    
                    start=3, stop=5, then o/p: 60

In [22]:
def myfunc(start,stop):
  i=0
  while start<=stop:
    if i==0:
      i=1
    else:
      i=i*start
    start=start+1
  return i
r1=myfunc(1,5)
r2=myfunc(3,5)
print(r1)
print(r2)

120
20

**6.Construct a function for fibonacci series(fib()) using**

           a.loops

           b.recursion
  
  Expected o/p :

fib(5), then o/p= 0 1 1 2 3

fib(7), then o/p= 0 1 1 2 3 5 8

In [37]:
#a) Using loops

def fb(n):
  a=0
  b=1
  i=0
  while i<n:
    print(a,end=' ')
    c=a+b
    a=b
    b=c
    i=i+1
fb(5)
print()
fb(7)

0 1 1 2 3
0 1 1 2 3 5 8

In [44]:
#b)Using recursion:

def fb(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fb(n-2)+fb(n-1)
for n in range(5):
  print(fb(n),end=' ')
print()
for n in range(7):
  print(fb(n),end=' ')

0 1 1 2 3
0 1 1 2 3 5 8

**7.Create a Factorial with loops.**

In [53]:
def fact(n):
  i=1
  a=1
  while i<=n:
    a=a*i
    i=i+1
  return a
res1=fact(5)
res2=fact(4)
print(res1,res2,sep=",")

120,24

**8.**

       *

       * *

       * * *

       * * * *

       * * * * *

In [54]:
def star(n):
  i=0
  while i<=n:
    print('* '*i)
    i=i+1
star(5)

*
* *
* * *
* * * *
* * * * *

**9.**

5 5 5 5 5

4 4 4 4 4

3 3 3 3 3

2 2 2 2 2

1 1 1 1 1

In [63]:
def num(n):
  i=n
  while i>=1:
    print(str(i)*5)
    i=i-1
num(5)

55555
44444
33333
22222
11111